html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
    .section {
        margin-bottom: 3px;
    }
    .sub-section {
        margin-bottom: 1px;
    }
}
